:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #0f0f0f;
    background-color: #f6f6f6;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

#sessions ul {
    overflow-x: hidden;
}

#sessions ul .p-treenode-content,
#sessions ul .p-treenode {
    padding: 0;
}

#sessions ul .p-treenode-children {
    padding: 0;
}

#sessions ul .p-treenode-label {
    white-space: nowrap;
    width: 0;
    text-overflow: ellipsis;
}

.p-listbox-list {
    padding: 0.5rem 0rem;
}

.p-listbox-item {
    padding: 0rem 0rem;
}

.p-listbox-item-group {
    padding: 1rem;
    padding-bottom: 0;
}